<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RSS Feed Aggregator - Inscription</title>

    <meta name="description" content="RFA - Web client interacting with API" />
    <meta name="keywords" content="RFA - Web Client" />
    <meta name="author" content="Gaëtan Rolé-Dubruille" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="/img/rss.ico" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/connection_view.css" />

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
</head>
<body>
<div class="login-page">
    <img style="display: block; margin: 0 auto; " src="/img/rss.png" width="70" height="70"/>
    <br><br>
    <div class="form">
        <form class="login-form" action="/inscription" method="post" enctype="multipart/form-data">
            <input type="text" id="name" name="name" placeholder="Name" />
            <br />
            <input type="password" id="password" name="password" placeholder="Password" />
            <br />
            <input type="email" id="email" name="email" placeholder="Email" />
            <br />
            <button type="submit" value="Login">Sign Up</button>
            <p class="message">Back to login ? <a href="/login">Login</a></p>
        </form>
    </div>
</div>

<footer>
    <p class="subtitle">RSS Feed Aggregator - Web client</p>
</footer>

</body>

</html>